<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}

    {% block styles %}
    {% endblock styles %}
</head>
<body>

    {% block content %}
    {% endblock content %}

<!-- JavaScript -->
{% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block scripts %}
{% endblock scripts %}

</body>
</html>