<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">

    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}

    {% block styles %}
    {% endblock styles %}
</head>
<body>

    {% block content %}
    {% endblock content %}

<!-- JavaScript -->
{% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block scripts %}
{% endblock scripts %}

</body>
</html>